div.gallery {
  
}

div.gallery:hover {
  
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #ff496c;
}

* {
  box-sizing: border-box;
}

.responsive1 {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1920px) {
  .responsive1 {
    width: 29.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 1080px) {
  .responsive1 {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  .responsive1 {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
